<!DOCTYPE html>
<html lang="he" dir="rtl">
  <head>
    <script src="../js/script.js" defer></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <title>Guy</title>
  </head>
  <body>
    <header>
      <button class="toggle-side-panel" aria-label="Open Menu">☰</button>
      <h1><a href="/">גיא מכין</a></h1>
      <nav>
        <ul>
          <li><a href="/">בית</a></li>
          <li><a href="/recipes">מתכונים</a></li>
          <li><a href="/posts">פוסטים</a></li>
        </ul>
      </nav>
    </header>

    <div class="side-panel">
      <button class="close-panel" aria-label="Close Menu">✖</button>
      <ul>
        <li><a href="/">בית</a></li>
        <li><a href="/recipes">מתכונים</a></li>
        <li><a href="/posts">פוסטים</a></li>
      </ul>
    </div>

    <main>
      <%- body %>
      <br/>
    </main>

    <footer>
      <nav>
        <ul>
          <li><a onclick="window.scrollTo(0,0)">בחזרה למעלה</a></li>
          <li><a href="/">בית</a></li>
          <li><a href="/recipes">מתכונים</a></li>
          <li><a href="/posts">פוסטים</a></li>
        </ul>
      </nav>
      <p>גיא קומש <%= new Date().getFullYear() %></p>
    </footer>
  </body>
</html>
