* {
  box-sizing: border-box;
  color: #212121;
}

html {
  scroll-behavior: smooth; /* Enables smooth scrolling */
  overflow-x: hidden;
}

main {
  flex: 1;
  /* width: 720px; */
  /* max-width: calc(100% - 2em); */
  /* margin: auto; */
  /* padding: 3em 1em; */
}

body {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

header {
  position: sticky;
  right: 0;
  left: 0;
  top: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between; /* Space between h1 and toggle button */
  align-items: center; /* Align items vertically */
  text-align: center;
  background-color: #f4f4f4;
  z-index: 3;
}

a {
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  text-decoration: none;
}

header h1 {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  font-size: 6rem;
  flex-grow: 1;
  text-align: center; /* Center the text inside the h1 */
}

header h2 {
  font-family: "Modak", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1.7rem;
  margin-top: -13px;
  margin-left: -70px;
}
header h1 a {
  margin: 0; /* Remove extra margin */
  text-decoration: none;
  white-space: nowrap;
  /* word-spacing: -1rem; */
}
header nav {
  display: flex;
  width: 60%;
}
header nav ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
  margin: 10px 0;
  padding: 0;
}
header nav li {
  flex: 1; /* Make all list items take up equal space */
  text-align: center; /* Center the text inside each item */
  margin: 5px;
}

header nav li a {
  flex: 1;
  text-align: center;
  margin: 0;
  display: block;
  font-size: 1.5rem;
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
}
header nav li a:hover {
  border-radius: 5px;
  background-color: #e0e0e0ad;
}

header a:hover {
  color: #292929; /* Change color on hover */
  text-decoration: none;
}

/* Side panel styles */
.side-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #2c2c2cd4;
  color: #dcdcdc;
  padding: 20px;
  z-index: 1000;
  overflow-y: auto;
  transform: translateX(100%); /* Hidden by default */
  transition: transform 0.2s ease-in-out;
  pointer-events: none; /* Prevent clicks when hidden */
}

.side-panel ul li {
  position: relative;
  list-style: none;
  font-size: 2rem;
  right: 50px;
  top: 50px;
  padding: 0;
}

.side-panel a {
  text-decoration: none;
  color: #e0e0e0;
}
.side-panel a:hover {
  text-decoration: underline;
}

.side-panel.open {
  transform: translateX(0);
  pointer-events: auto;
  opacity: 1;
}

.side-panel button.close-panel {
  background: none;
  border: none;
  color: #e0e0e0;
  font-size: 3rem;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
}

.side-panel button.close-panel:hover {
  color: #f2f2f2;
}

.toggle-side-panel {
  display: block; /* Hidden by default */
  background: none;
  border: none;
  font-size: 3rem;
  font-style: italic;
  cursor: pointer;
  margin-left: 10px; /* Add spacing between h1 and button */
}
.toggle-side-panel:hover {
  color: #515151;
}

/* Footer styles */
footer {
  position: relative;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #303030;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 40px;
  text-decoration: none;
}

footer li a {
  font-size: 1.2rem;
  color: #dcdcdc;
}

footer p {
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 1.5rem;
  margin-top: 10px;
  color: #dcdcdc;
}

footer nav {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  align-items: center;
}
footer nav ul {
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  gap: 20px;
}

footer nav li a {
  /* margin: 0 20px; */
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
}

/* post grid styles */
.post-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  margin: 20px;
  justify-content: center;
  align-items: center;
  min-width: 300px;
}

.post-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #f9f9f9;
  max-width: 500px;
  max-height: 550px;
  width: 100%;
  margin: 10px auto;
}

.post-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Adjustments for smaller screens */
/* 4 columns for screens wider than 1920px */
@media (min-width: 2101) {
  .post-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* 3 columns for screens between 1441px and 1920px */
@media (max-width: 2100px) and (min-width: 1701px) {
  .post-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* 2 columns for screens between 961px and 1440px */
@media (max-width: 1700px) and (min-width: 961px) {
  .post-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 1 column for screens 960px wide or smaller */
@media (max-width: 960px) {
  .post-grid {
    grid-template-columns: 1fr;
  }
  header h1 {
    font-size: 4rem;
  }
}

::-webkit-scrollbar-thumb:hover {
  background: #194160; /* Darker color when hovering over the thumb */
}

/* Responsive styles */
@media (max-width: 600px) {
  .toggle-side-panel {
    display: block;
  }
}

@media (max-width: 650px) {
  header nav {
    display: none;
  }
}

.banner-container {
  position: sticky;
  overflow: hidden;
  white-space: nowrap;
  background: white;
  color: black;
  padding: 10px;
  font-family: "Bungee", sans-serif;
}

.banner-text {
  display: inline-block;
  padding-left: 100%;
  animation: scroll-left 14s linear infinite;
  font-size: 1.5rem;
}

@keyframes scroll-left {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
