* {
  margin: 0;
  box-sizing: border-box;
  color: #212121;
}

html {
  scroll-behavior: smooth; /* Enables smooth scrolling */
}

main {
  flex:1;
}

body{
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

header {
  position: sticky;
  right: 0;
  top: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between; /* Space between h1 and toggle button */
  align-items: center; /* Align items vertically */
  text-align: center;
  background-color: #f4f4f4;
}

a {
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  text-decoration: none;
}

header h1 {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  margin: 0; 
  font-size: 5rem;
  flex-grow: 1;
  text-align: center; /* Center the text inside the h1 */
}

header h2 {
  font-family: "Modak", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1.7rem;
  margin-top: -13px;
  margin-left: -70px;
}
header h1 a {
  margin: 0; /* Remove extra margin */
  text-decoration: none;
  white-space: nowrap;
  /* word-spacing: -1rem; */
}
header nav {
  display: flex;
  width: 60%;
}
header nav ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
  margin: 10px 0;
  padding: 0;
}
header nav li {
  flex: 1; /* Make all list items take up equal space */
  text-align: center; /* Center the text inside each item */
  margin: 5px;
}

header nav li a {
  flex: 1;
  text-align: center;
  margin: 0;
  display: block ;
  font-size: 1.5rem;
  text-decoration: none;  
  cursor: pointer;
  padding: 10px;
} header nav li a:hover {
  border-radius: 5px;
  background-color: #e0e0e0ad;
}

header a:hover {
  color: #292929; /* Change color on hover */
  text-decoration: none;
}

/* Side panel styles */
.side-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #2c2c2cd4;
  color: #dcdcdc;
  padding: 20px;
  z-index: 1000;
  overflow-y: auto;
  transform: translateX(100%); /* Hidden by default */
  transition: transform 0.2s ease-in-out;
  pointer-events: none; /* Prevent clicks when hidden */
}

.side-panel ul li {
  position: relative;
  list-style: none;
  font-size: 2rem;
  right: 50px;
  top: 50px;
  padding: 0;
}

.side-panel a {
  text-decoration: none;
  color: #e0e0e0;
} 
.side-panel a:hover {
  text-decoration: underline;
  
}

.side-panel.open {
  transform: translateX(0);
  pointer-events: auto;
  opacity: 1;
}

.side-panel button.close-panel {
  background: none;
  border: none;
  color: #e0e0e0;
  font-size: 3rem;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
}

.side-panel button.close-panel:hover {
  color: #f2f2f2;
}

.toggle-side-panel {
  display: block; /* Hidden by default */
  background: none;
  border: none;
  font-size: 3rem;
  font-style: italic;
  cursor: pointer;
  margin-left: 10px; /* Add spacing between h1 and button */
}.toggle-side-panel:hover {
  color: #515151;
}

/* Footer styles */
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #303030;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  text-decoration: none;
}

footer li a {
  font-size: 1.2rem;
  color: #dcdcdc;
} 

footer p {
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 0.9rem;
  color: #dcdcdc;
}

footer nav {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  align-items: center;
}
footer nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-between;
  width: 100%;
}

footer nav li a {
  /* margin: 0 20px; */
  font-size: 1rem;
  text-decoration: none;  
  cursor: pointer;
}

/* post grid styles */
.post-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  margin: 20px;
  justify-content: center;
   align-items: center;
  min-width: 300px;
}

.post-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #f9f9f9;
  max-width: 500px;
  max-height: 550px;;
  width: 100%;
  margin: 10px auto;
}

.post-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Adjustments for smaller screens */
/* 4 columns for screens wider than 1920px */
@media (min-width: 1921px) {
  .post-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* 3 columns for screens between 1441px and 1920px */
@media (max-width: 1920px) and (min-width: 1441px) {
  .post-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* 2 columns for screens between 961px and 1440px */
@media (max-width: 1440px) and (min-width: 961px) {
  .post-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 1 column for screens 960px wide or smaller */
@media (max-width: 960px) {
  .post-grid {
    grid-template-columns: 1fr;
  }
}

/* Scrollbar styles */

::-webkit-scrollbar-track {
  background: #153147; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
  background: #f4f4f4; /* Background of the scrollbar track */
  border-radius: 10px; /* Rounded corners for the thumb */
  border: 3px solid #f4f4f4; /* Adds padding around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #194160; /* Darker color when hovering over the thumb */
}

/* Responsive styles */
@media (max-width: 600px) {
  .toggle-side-panel {
    display: block;
  }

  header h1 {
    font-size: 3rem;
  }
  header h2 {
    font-size: 1.4rem;
    margin-top: -7px;
    margin-left: -45px;
  }
}

@media (max-width: 650px) {
  header nav {
    display: none;
  }
}


/* Fonts */
.fira-sans-thin {
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.fira-sans-extralight {
  font-family: "Fira Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.fira-sans-light {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.fira-sans-regular {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-medium {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-semibold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans-bold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.fira-sans-extrabold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.fira-sans-black {
  font-family: "Fira Sans", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.fira-sans-thin-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.fira-sans-extralight-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.fira-sans-light-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.fira-sans-regular-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.fira-sans-medium-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.fira-sans-semibold-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.fira-sans-bold-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.fira-sans-extrabold-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.fira-sans-black-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
.modak-regular {
  font-family: "Modak", system-ui;
  font-weight: 400;
  font-style: normal;
}
