* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
}

header {
  padding: 20px;
  display: flex;
  justify-content: space-between; /* Space between h1 and toggle button */
  align-items: center; /* Align items vertically */
  text-align: center;
}

header h1 {
  margin: 0; /* Remove default margin */
  font-size: 4rem;
  flex-grow: 1; /* Allow the h1 to take up available space */
  text-align: center; /* Center the text inside the h1 */
}

header h1 a {
  margin: 0; /* Remove extra margin */
  text-decoration: none;
  color: #333;
  white-space: nowrap;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

nav li a {
  margin: 0 20px;
  font-size: 1.5rem;
  text-decoration: none;  
  color: #1a1a1a;
  cursor: pointer;
}
nav li a:hover {
  text-decoration: underline;
}

/* Side panel styles */
.side-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #2c2c2cd4;
  color: #dcdcdc;
  padding: 20px;
  z-index: 1000;
  overflow-y: auto;
  transform: translateX(100%); /* Hidden by default */
  transition: transform 0.2s ease-in-out;
  pointer-events: none; /* Prevent clicks when hidden */
}

.side-panel ul li {
  position: relative;
  list-style: none;
  font-size: 2rem;
  right: 50px;
  top: 50px;
  padding: 0;
}

.side-panel a {
  text-decoration: none;
  color: #e0e0e0;
} 
.side-panel a:hover {
  text-decoration: underline;
  
}

.side-panel.open {
  transform: translateX(0);
  pointer-events: auto;
  opacity: 1;
}

.side-panel button.close-panel {
  background: none;
  border: none;
  color: #e0e0e0;
  font-size: 3rem;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
}

.side-panel button.close-panel:hover {
  color: #f2f2f2;
}

.toggle-side-panel {
  display: block; /* Hidden by default */
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  margin-left: 10px; /* Add spacing between h1 and button */
}

@media (max-width: 600px) {
  .toggle-side-panel {
    display: block;
  }

  header h1 {
    font-size: 3rem;
  }
}

@media (max-width: 650px) {
  nav {
    display: none;
  }
  .toggle-side-panel {
    font-size: 3rem;
  }
}