---
import { Image } from 'astro:assets';
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");

---

<h2>Home Page</h2>
<div class="post-grid">
  {
    allPosts.map((post) => (
      <div id={post.id} class="post-card">
        <a href={`/blog/posts/${post.id}`}>
          <Image
            class="post-image"
            src="../images/1/newRoccbox.jpg"
            alt={post.data.title}
            title={post.data.title}
          />
        </a>
      </div>
    ))
  }
</div>

<style>
  .post-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    min-width: 300px;
  }

  .post-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #f9f9f9;
    max-width: 500px;
    max-height: 550px;
    width: 100%;
    margin: 10px auto;
  }

  .post-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
</style>
