<!doctype html>
<html lang="he" dir="rtl">
  <head>
    <script src="../scripts/script.js"></script>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Gveret+Levin&family=Modak&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <title>The Choogs</title>
  </head>
  <body>
    <header>
      <button class="toggle-side-panel" aria-label="Open Menu">☰</button>
      <div class="header-titles">
        <h1><a href="/thechoogs">The&nbsp;Choogs</a></h1>
      </div>
    </header>

    <div class="side-panel">
      <button class="close-panel" aria-label="Close Menu">✖</button>
      <ul>
        <li><a href="/thechoogs">בית</a></li>
      </ul>
    </div>

    <main>
      <slot />
    </main>

    <footer>
      <nav>
        <ul>
          <li><a onclick="window.scrollTo(0,0)">בחזרה למעלה</a></li>
          <li><a href="/thechoogs">בית</a></li>
        </ul>
        <p>Made By Guy Komash</p>
      </nav>
    </footer>
  </body>
</html>

<style>
  @import url("../styles/global.css");
  @import url("../styles/fonts.css");
</style>
